[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tensorflow-gpu = "*"
scikit-learn = "*"
numpy = "==1.19.3"
pandas = "*"
jupyter = "*"
snapshot-ensembles = {editable = true, path = "."}
seaborn = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
